@layer datatables {

	table.dataTable thead > tr > th:not(.dt-orderable-none) > .dt-column-header {
		display: flex;
    	justify-content: space-between;
	}

	table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before,
	table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:before,
	table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before {
		position: absolute;
		display: block;
		bottom: 50%;
		content: "\25B2";
		content: "\25B2"/"";
	}
	table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
	table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:after,
	table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
		position: absolute;
		display: block;
		top: 50%;
		content: "\25BC";
		content: "\25BC"/"";
	}
	table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order,
	table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order,
	table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order,
	table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order,
	table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order {
		position: relative;
		width: 12px;
		height: 20px;
	}
	table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:after, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:before, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
	table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:before,
	table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:after,
	table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:before,
	table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:after,
	table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before,
	table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:after,
	table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:before,
	table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
		left: 0;
		opacity: 0.125;
		line-height: 9px;
		font-size: 0.8em;
	}
	table.dataTable thead > tr > th.dt-orderable-asc, table.dataTable thead > tr > th.dt-orderable-desc,
	table.dataTable thead > tr > td.dt-orderable-asc,
	table.dataTable thead > tr > td.dt-orderable-desc {
		cursor: pointer;
	}
	table.dataTable thead > tr > th.dt-orderable-asc:hover, table.dataTable thead > tr > th.dt-orderable-desc:hover,
	table.dataTable thead > tr > td.dt-orderable-asc:hover,
	table.dataTable thead > tr > td.dt-orderable-desc:hover {
		outline: 2px solid rgba(0, 0, 0, 0.05);
		outline-offset: -2px;
	}
	table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
	table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before,
	table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
		opacity: 0.6;
	}
	table.dataTable thead > tr > th.sorting_desc_disabled span.dt-column-order:after, table.dataTable thead > tr > th.sorting_asc_disabled span.dt-column-order:before,
	table.dataTable thead > tr > td.sorting_desc_disabled span.dt-column-order:after,
	table.dataTable thead > tr > td.sorting_asc_disabled span.dt-column-order:before {
		display: none;
	}


	div.dt-processing {
		position: absolute;
		top: 30%;
		left: 50%;
		width: 200px;
		margin-left: -100px;
		margin-top: -22px;
		text-align: center;
		padding: 2px;
		z-index: 10;
	}
	
}